<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="home" class="main">
        <div id="sidebar" class="sidebar active">
            <div class="toggle-btn" id="toggle-btn">
                <span class="fa-solid fa-bars"></span>
            </div>
            <img src="../assets/logo.svg" alt="logotipo" class="logo">
            <div href="#" class="logout-btn">
                <span class="fa-solid fa-power-off"></span>&nbsp;
                Logout
            </div>
        </div>
        <div id="cuerpo" class="active">
            <h1>Home</h1>
            <form id="plan-nutricional" class="form-wrapper">
                <div class="form-control">
                    <select name="dia_de_la_semana" id="dia_de_la_semana">
                        <option value="L">Lunes</option>                            <option value="M">Martes</option>
                        <option value="MI">Miercoles</option>
                        <option value="J">Jueves</option>
                        <option value="V">Viernes</option>
                        <option value="S">Sábado</option>
                        <option value="D">Domingo</option>
                    </select>
                    <textarea name="alimento" id="alimento" cols="30" rows="10" title="">  
                     </textarea>
                </div>
                <div class="form-control">
                    <div class="image-input" id="image-input">
                        <div>
                            Upload your profile photo
                        </div>
                        <input type="file" accept="image/*" id="signUpPhoto" name="signUpPhoto" required />
                    </div>
                    <div class="feedback">
                        <small class="feedback-message">Default Message</small>
                    </div>
                </div>
                <button class="btn btn-submit" type="submit" id="ingreso-Plan">Registrar Plan Nutricional</button>
            </form>
        </div>
    </main>
</body>

</html>