<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="home" class="main">
        <div id="sidebar" class="sidebar active">
            <div class="toggle-btn" id="toggle-btn">
                <span class="fa-solid fa-bars"></span>
            </div>
            <img src="../assets/logo.svg" alt="logotipo" class="logo">
            <div href="#" class="logout-btn">
                <span class="fa-solid fa-power-off"></span>&nbsp;
                Logout
            </div>
        </div>
        <div id="cuerpo" class="active">
            <h1>Home</h1>
            <div id="cuerpo2">
            </div>
            <div id="tasks-container">
            </div>
        </div>
    </main>
</body>

</html>