/*=========================================================
================         ANIMATIONS       =================
=========================================================*/

// Barba transitions
.cover {
  &-leave-active,
  &-enter-active {
    transition: transform 500ms var(--easing);

    .transition {
      transition: transform 500ms var(--easing);
    }
  }

  // Cover down
  &-leave {
    .transition {
      transform: translateY(-100%);
    }

    &-to {
      .transition {
        transform: translateY(0);
      }
    }
  }

  // Cover in
  &-enter {
    .transition {
      transform: translateY(0);
    }

    &-to {
      .transition {
        transform: translateY(0);
      }
    }
  }
}

// Clip-path transition
.clip {
  &-enter {
    clip-path: circle(0%);

    &-active {
      transition: all 0.75s var(--easing);
    }

    &-to {
      clip-path: circle(75%);
    }
  }

  &-leave {
    opacity: 1;

    &-active {
      transition: all 0.75s var(--easing);
    }

    &-to {
      opacity: 0;
    }
  }
}

// Loaders animations
@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
