/*=========================================================
================         COMPONENTS       =================
=========================================================*/

// Spinner loaders
.loader-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.dot-loader,
.dot-loader:before,
.dot-loader:after {
  color: $white;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.3s infinite ease-in-out;
}

.dot-loader {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
  }

  &:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }

  &:after {
    left: 3.5em;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: $white;
  font-size: 7px;
  text-indent: -9999em;
  animation-delay: -0.16s;
}

// Utilities
.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Separator
.separator {
  position: relative;
  height: pxToRem(24);
  margin-block: pxToRem(20);

  hr {
    border-width: 1px;
    width: 100%;
    border-color: $black;
  }

  span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background-color: $white;
    padding: 0.5rem;
    display: inline-block;
  }
}

// Logo
.logo-wrapper {
  width: pxToRem(200);
}

// Left column
.left-section {
  display: none;
}

// Right column
.right-section {
  padding: 2rem;
}

// Buttons
.btn {
  cursor: pointer;
  color: $white;
  font-weight: 700;
  border-radius: 0.2rem;
  transition: all 200ms ease-in-out;

  &:active {
    transform: scale(0.95);
  }

  &-submit {
    padding: 1rem;
    width: 100%;
    border: none;
    background: $primary;

    &:hover {
      background-color: darken($color: $primary, $amount: 20);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: lighten($color: $primary, $amount: 20);
      transform: none;
      transition: none;
    }
  }

  &-social-signin {
    padding: 1.3rem 2.2rem;
    border: 1px solid #bbd0e5;
    background-color: $gray;
    color: $black;
    background-repeat: no-repeat;
    background-position: pxToRem(12) center;
    background-size: pxToRem(25) pxToRem(25);

    &.google {
      background-image: url("https://dashboard.visme.co/v2/img/gmail-button.42808cac.svg");
    }

    &.facebook {
      background-image: url("https://dashboard.visme.co/v2/img/facebook-icon.5b0628b0.svg");
    }
  }
}

// Transition component
.transition {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  z-index: 10;
}

// Form component
.feedback-message {
  visibility: hidden;
  color: currentColor;
}

.form-control {
  position: relative;
  margin-block-end: pxToRem(35);
  color: $black;

  .error-icon {
    visibility: hidden;
  }

  &.success {
    color: $black;
  }

  &.error {
    color: $error;

    .error-icon,
    .feedback-message {
      visibility: visible;
    }
  }

  input,
  select {
    width: 100%;
    color: currentColor;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    outline: 2px solid currentColor;
    border-radius: 0.2rem;

    &:disabled {
      background-color: #e0e0e0;
      outline-color: #e0e0e0;
    }
  }

  option {
    color: $black;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: currentColor;
  }

  .feedback {
    position: absolute;
    bottom: -1.4rem;
    left: 0;
  }
}

.redirect {
  margin-block-start: pxToRem(20);
  display: block;
  color: $black;

  strong {
    color: $primary;
  }
}
