/*=========================================================
================         LAYOUT           =================
=========================================================*/

.social-buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  @include media-breakpoint-up("sm") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.separator {
  display: flex;
  align-items: center;
}

[data-barba-namespace="login"],
[data-barba-namespace="signup"] {
  place-items: center;
  display: grid;

  @include media-breakpoint-up("lg") {
    grid-template-columns: 2fr 1.5fr;
  }
}
